In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import numpy as np
import time
from datetime import date
from datetime import datetime
from datetime import timedelta
import os
import glob
import pandas as pd
import csv
from xlsxwriter.workbook import Workbook
import interacoes_selenium as IS
from sqlalchemy import create_engine
import pymysql
import datetime
from dateutil.relativedelta import *

In [2]:
#declara os arquivos
arq_extracao = '//srv-arquivos07/dirgerti/SEDT_AUTORE/TN_AUTORE/SUSTENTAÇÃO/Incidentes/Dashboard Incidentes/base dashboard incidentes.xlsx'
arq_indice_resolucao = '//srv-arquivos07/dirgerti/SEDT_AUTORE/TN_AUTORE/SUSTENTAÇÃO/Incidentes/Dashboard Incidentes/indice_resolucao.xlsx'

#cria os dataframes dos arquivos
df_criados = pd.read_excel(arq_extracao)#dataframe do arquivo de extração do SIGS
df_resolvidos = pd.read_excel(arq_extracao)#dataframe do arquivo de extração do SIGS

## Criando o df de ins resolvidos

In [3]:
df_resolvidos = df_resolvidos[df_resolvidos['Hora de Resolução'].notna()]
df_resolvidos['ANO_MES_RESOLUCAO'] = df_resolvidos['Hora de Resolução'].astype(str).str[:4]
df_resolvidos['ANO_MES_RESOLUCAO'] = (df_resolvidos['ANO_MES_RESOLUCAO'].astype(int)*100) + df_resolvidos['Hora de Resolução'].astype(str).str[5:7].astype(int)
df_resolvidos.head(3)

,ID do Incidente,Brd Alertas,Hora de Abertura,Hora de Atualização,Categoria,Prioridade,Status,Serviço Afetado Primário,Descrição Resumida,Designação principal,...,Número da Mudança,Mudança Pendente,Brd Rdm Rel,Brd Celula Afetada,Brd Tipo Ambiente,Brd Usuarios Afetados,Brd Tp in,Descrição,Subcategoria,ANO_MES_RESOLUCAO
0,IN4337485,ENCERRADO,2020-07-06 10:13:23,2020-09-09 15:12:34,BRADESCO SEGUROS,4 - Baixa,ENCERRADO,BS_SISTEMAS CORPORATIVOS BAIXA_ITR,SMB - ERRO AO TENTAR REALIZAR O ENDOSSO DE CAN...,DS - BS - SEDT-AUTO/RE_4,...,NaN,NaN,0.0,NaN,PRODUCAO,1.0,NaN,"Gestão, Favor abrir um incidente para o erro ...",SISTEMAS CORPORATIVOS BAIXA,202009
1,IN4337746,ENCERRADO,2020-07-06 11:08:03,2020-07-15 11:07:22,BRADESCO SEGUROS,4 - Baixa,ENCERRADO,BS_SISTEMAS CORPORATIVOS BAIXA_ITR,NASA - APÓS AGUARDAR O SISTEMA LIMPA A MENSAGE...,DS - BS - SEDT-AUTO/RE_1,...,NaN,NaN,0.0,NaN,TESTE UNITARIO,1.0,NaN,Ao acessar a aplicação (http://www.dsv.bradseg...,SISTEMAS CORPORATIVOS BAIXA,202007
2,IN4337750,ENCERRADO,2020-07-06 11:08:39,2020-07-15 11:07:23,BRADESCO SEGUROS,4 - Baixa,ENCERRADO,BS_SISTEMAS CORPORATIVOS BAIXA_ITR,SEGU - ERRO AO REALIZAR DOWNLOAD,DS - BS - SEDT-AUTO/RE_1,...,NaN,NaN,0.0,NaN,TESTE UNITARIO,1.0,NaN,"Prezados, Solicito a abertura de um incidente...",SISTEMAS CORPORATIVOS BAIXA,202007

In [4]:
df_resolvidos_por_grupo = pd.DataFrame({'count_resolvidos' : df_resolvidos.groupby(['ANO_MES_RESOLUCAO','Designação principal']).size()}).reset_index()
df_resolvidos_por_grupo

,ANO_MES_RESOLUCAO,Designação principal,count_resolvidos
0,202007,DS - BS - BARE - SAP,23
1,202007,DS - BS - PEG - DELIVERY - PEGA,10
2,202007,DS - BS - SEDT-AUTO/RE_1,12
3,202007,DS - BS - SEDT-AUTO/RE_10,11
4,202007,DS - BS - SEDT-AUTO/RE_12,1
...,...,...,...
320,202107,DS - BS - SUSTENTACAO-BARE-INDIVIDUAL,12
321,202107,DS - BS - SUSTENTACAO-BARE-RE,19
322,202107,DS - BS - SUSTENTACAO-BARE-SINISTRO-AUTO,5
323,202107,DS - BS - SUSTENTACAO-BARE-SINISTRO-RE,7
324,202107,DS - BS - SUSTENTACAO-BARE-WIPRO,13

In [5]:
df_criados['ANO_MES_ABERTURA'] = df_criados['Hora de Abertura'].astype(str).str[:4]
df_criados['ANO_MES_ABERTURA'] = (df_criados['ANO_MES_ABERTURA'].astype(int)*100) + df_criados['Hora de Abertura'].astype(str).str[5:7].astype(int)
len(df_criados)

9103

## Criando o df de incidentes criados

In [6]:
df_criados = pd.DataFrame({'count' : df_criados.groupby(['ANO_MES_ABERTURA','Designação principal']).size()}).reset_index()
#df_criados = df_criados[['ANO_MES_ABERTURA','Designação principal']]
df_criados

     ANO_MES_ABERTURA                      Designação principal  count
0              202007                      DS - BS - BARE - SAP     67
1              202007           DS - BS - PEG - DELIVERY - PEGA     18
2              202007                  DS - BS - SEDT-AUTO/RE_1     13
3              202007                 DS - BS - SEDT-AUTO/RE_10     12
4              202007                 DS - BS - SEDT-AUTO/RE_11      1
..                ...                                       ...    ...
333            202107            DS - BS - SUSTENTACAO-BARE-MJV      1
334            202107             DS - BS - SUSTENTACAO-BARE-RE      9
335            202107  DS - BS - SUSTENTACAO-BARE-SINISTRO-AUTO      5
336            202107    DS - BS - SUSTENTACAO-BARE-SINISTRO-RE      7
337            202107          DS - BS - SUSTENTACAO-BARE-WIPRO     16

[338 rows x 3 columns]

## Populando os dados no df novo

In [7]:
print(df_resolvidos_por_grupo.index)

RangeIndex(start=0, stop=325, step=1)

In [23]:
df_resolvidos_por_grupo['count_criados'] = ''
lista_contagens = []
count_for = 0
for indice in df_resolvidos_por_grupo.index:
    count_for +=1
    ano_mes = df_resolvidos_por_grupo['ANO_MES_RESOLUCAO'].loc[indice]
    grupo =  df_resolvidos_por_grupo['Designação principal'].loc[indice]
    aux = df_criados.loc[(df_criados['ANO_MES_ABERTURA']==ano_mes) & (df_criados['Designação principal']==grupo)]
    if (len(aux)==0):
        lista_contagens.append(0)
    else:
        count = aux['count'].astype(int)
        for numero in count:
            valor = numero
            lista_contagens.append(valor)

df_resolvidos_por_grupo['count_criados'] = lista_contagens   
df_resolvidos_por_grupo['count_criados']

0      67
1      18
2      13
3      12
4       1
       ..
320     9
321     9
322     5
323     7
324    16
Name: count_criados, Length: 325, dtype: int64

In [24]:
df_resolvidos_por_grupo

,ANO_MES_RESOLUCAO,Designação principal,count_resolvidos,count_criados,indice_resolucao
0,202007,DS - BS - BARE - SAP,23,67,0.343284
1,202007,DS - BS - PEG - DELIVERY - PEGA,10,18,0.555556
2,202007,DS - BS - SEDT-AUTO/RE_1,12,13,0.923077
3,202007,DS - BS - SEDT-AUTO/RE_10,11,12,0.916667
4,202007,DS - BS - SEDT-AUTO/RE_12,1,1,1.000000
...,...,...,...,...,...
320,202107,DS - BS - SUSTENTACAO-BARE-INDIVIDUAL,12,9,1.333333
321,202107,DS - BS - SUSTENTACAO-BARE-RE,19,9,2.111111
322,202107,DS - BS - SUSTENTACAO-BARE-SINISTRO-AUTO,5,5,1.000000
323,202107,DS - BS - SUSTENTACAO-BARE-SINISTRO-RE,7,7,1.000000
324,202107,DS - BS - SUSTENTACAO-BARE-WIPRO,13,16,0.812500

In [25]:
df_resolvidos_por_grupo['indice_resolucao'] = df_resolvidos_por_grupo['count_resolvidos']/df_resolvidos_por_grupo['count_criados']

In [26]:
df_resolvidos_por_grupo.to_excel(arq_indice_resolucao, index=False)